body {
  margin: 0;
  background: #00ff00; /* クロマキー用 緑 */
  overflow: hidden;
}

h1, p {
  display: none; /* 文字は配信で邪魔だから消す */
}

#gazeDot {
  position: absolute;
  width: 25px;
  height: 25px;
  background: red;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
