body {
  margin: 0;
  background: #ff00ff; /* マゼンタ */
  overflow: hidden;
}


#gazeDot {
  position: absolute;
  width: 80px;              /* 大きめ */
  height: 80px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.35); /* 半透明赤 */
  border: 2px solid rgba(255,255,255,0.6); /* 見やすい縁 */
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
